/*
0E0B16
A239CA
4717F6
E7DFDD
*/ 

* {
    margin: 0;
    color: #0E0B16; 
  }

.timer{
    background-color: blueviolet;
   
    text-align: center;
    font-size: 200px;
    width: 100%; 
    height: 100%;
    padding-bottom: 100%;
}
.set-times{
  display: flex;
  flex-direction: column;
  float: left;
}
.set-time-but{
  
}
.time-inputs{
  font-size: medium;
  animation-name: stand-out;
  animation-duration: 1s;
}
@keyframes inputs-in {
  from {box-shadow: 0px 0px 0px 0px;}
  to {box-shadow: 1px 1px 4px 4px;}
}
.pauseButton{
  font-size: 50px;
  height: 100%;
  background-color: blueviolet;
  border: #0E0B16;
  box-shadow: #000000;
  border-style: solid;
  margin: 30px;
}
.pauseButton:hover{
  box-shadow: 5px 5px;
}
.pauseButton:checked{
  box-shadow: 2px 2px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #A239CA;
  }
  
li {
    float: left;
}
  
  li .brandLink {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }
  li .brandLink:hover {
    box-shadow: 1px 1px 4px 4px;
    animation-name: stand-out;
    animation-duration: 1s;
  }
  @keyframes stand-out {
    from {box-shadow: 0px 0px 0px 0px;}
    to {box-shadow: 1px 1px 4px 4px;}
  }

  .new-work-sesh{
      text-align: center;
        padding-top: 10%;
  }

  .startBut{
    text-align: center;
    width: 200px;
    height: 100px;
    margin: 30px;
    font-size: 30px;
    background-color: #A239CA;
  }

  .goodWork{
      text-align: center;
      font-size: large;
  }
  .new-break{
    text-align: center;
      font-size: large;
  }


  .breakBut{
    text-align: center;
    width: 200px;
    height: 100px;
    margin: 30px;
    font-size: 30px;
    background-color: #A239CA;
  }

  .landing-page{
      padding: 30px;
      color: aquamarine;
  }
  .bar-chart{
    width: 90%;
  }

  @media screen and (max-width: 681px){
    .timer{
      font-size: 100px;
    }
  }

  .card{
    font-size: 20px;
    background-color: #A239CA;
    border: #000000;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotateX(0deg) translate(-50%, -50%);
    border-radius: 10%;
    border-style: solid;
    /*animation-name: open-card;
    animation-duration: 1s; ****** animation did not work like I thought ********/ 
  }

  @keyframes open-card {
    from {transform: rotateX(90deg) translate(-50%, -50%);}
    to {transform: rotateX(0deg) translate(-50%, -50%);}
  }